{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'movies/css/main.css' %}"/>
  <link rel='stylesheet' href="{% static 'movies/css/comments_update.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'movies/js/main.js' %}" defer></script>
  <script src="{% static 'movies/js/comments_update.js' %}" defer></script>
{% endblock js %}

{% block content %}
  <div class="comment-update-wrap">
    <div class="to-flex-container">
      <h4 class="review emphasis">리뷰 수정</h4>
      <form class="form-comment" action="{% url 'movies:comments_update' movie.pk comment.pk %}" method="POST"  >
        {% csrf_token %}
        {{comment_form.movie_rate}}
        
        <div class="nickname-wrap">
          <i class="fas fa-user"></i>
          {{ user.nickName }}
        </div>
        {{ comment_form.content }}
        <p class="content__count">/ 500</p>
        <div class="d-flex justify-content-end">
          <input class="comment__input" type="submit" value="리뷰 수정하기">
        </div>
      </form>

    </div>
  </div>

  {% comment %} <form action="{% url 'movies:comments_update' movie.pk comment.pk %}" method="POST"  >
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value'수정하기'>
  </form> {% endcomment %}
{% endblock content %}