{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'movies/css/detail.css' %}"/>
  <link rel='stylesheet' href="{% static 'movies/css/main.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'movies/js/main.js' %}" defer></script>
  <script src="{% static 'movies/js/detail.js' %}" defer></script>
{% endblock js %}

{% block background %}
  <style>
    .background {
      {% comment %} background: url({% static 'accounts/imgs/background후보1.jpg' %}) center/cover no-repeat; {% endcomment %}
      background-image: url({{ movie.backgroundImg }});
      background-size: cover;
      background-position: bottom 60% right 20%;
      background-repeat: no-repeat;
    }

  </style>
{% endblock background %}

{% block content %}

  <div class="background">
    {% comment %} <img class="background-img" src="{% static 'accounts/imgs/background후보1.jpg' %}" alt=""> {% endcomment %}
  </div>
  <main>
    <div class="movie-container">
      <div class="movie-wrap">
        <div class="movie-poster">
          <img class="movie-poster__img" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
        </div>
        <div class="movie-info">
          <h2 class="info__title">{{ movie.title }}</h2>
          <p>감독 : {{ movie.director }}</p>
          <p>개봉일 : {{ movie.release_date }}</p>
          <p>평점 : {{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="movie-overview">
        <h4 class="emphasis">개요</h4>
        <p>{{ movie.overview }}</p>
      </div>

      <h4 class="video__trailer emphasis">예고편</h4>
      <div class="movie-video ratio ratio-16x9">
        <iframe class="" src="" frameborder="0"></iframe>
      </div> 

    </div>
    
    <div class="comment-wrap">
      {% comment %} 댓글입력 창. 리뷰 작성기능, 평점 기능  {% endcomment %}
      
      <h4 class="review emphasis">리뷰</h4>
      
      <form class="form-comment" action="{% url 'movies:comments_create' movie.pk %}" method="POST">
        {% csrf_token %}
        {{comment_form.movie_rate}}
        <div class="nickname-wrap">
          <i class="fas fa-user"></i>
          {{ user.nickName }}
        </div>
        {{comment_form.content}}
        <div class="review-input-wrap d-flex justify-content-end">
          <input class="comment__input" type="submit" value="리뷰 남기기">
        </div>
      </form>
    
    
      {% comment %}  댓글 목록  {% endcomment %}
      <div class="user-comments__wrap">
        {% for comment in comments  %}

        <div class="user-comments">
          <div class="comment-nickname-wrap">
            <i class="fas fa-user"></i>
            {{ comment.user.nickName }}
          </div>
          <div class="comment-wrap">
            <p class="comment_full hidden">{{ comment.content }}</p>
            <p class="comment__content summary">{{ comment.content|truncatechars:100 }}</p>
          </div>

          <div class='all-wrap d-flex flex-column'>
            <p>{{ comment.movie_rate }}</p>
          
            <div class="like_delete_edit-wrap">
              <!-- 좋아요 구현   -->
              <form class="like-forms"  data-comment-id="{{comment.pk}}" data-movie-id="{{movie.pk}}" >
                {% csrf_token %}
                {% if request.user in comment.like_users.all %}
                  <button class="btn-wrap like_btn" type="submit" id="like-{{comment.pk}}">
                    <i class="fa-sharp fa-solid fa-heart"></i>
                  </button>
                  {% comment %} <input type="submit" value="좋아요 취소" id="like-{{comment.pk}}"> {% endcomment %}
                {% else %}
                  <button class="btn-wrap like_btn" type="submit" id="like-{{comment.pk}}">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                  {% comment %} <input type="submit" value="좋아요" id="like-{{comment.pk}}"> {% endcomment %}
                {% endif %}
              </form>
            
            
              {% comment %} 삭제 비동기 {% endcomment %}
              <div class="delete_edit-wrap">
                {% if request.user == comment.user %}
                  <form class="delete-forms"  data-delete-id="{{comment.pk}}" data-movie-id="{{movie.pk}}">
                    {% csrf_token %}
                    <button class="btn-wrap delete-btn" type="submit" value="삭제" id="delete-{{comment.pk}}">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </form>
                  {% comment %} 수정 {% endcomment %}
                  <a class="btn-wrap edit-btn" href="{% url 'movies:comments_update' movie.pk comment.pk  %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                {% endif %}
              </div>
  
            </div>

          </div>

        </div>

        {% endfor %}
      </div>

    </div>

  </main>



{% endblock content %}
