{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'movies/css/directors_detail.css' %}"/>
  <link rel='stylesheet' href="{% static 'movies/css/main.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'movies/js/directors_detail.js' %}" defer></script>
  <script src="{% static 'movies/js/main.js' %}" defer></script>
{% endblock js %}

{% block content %}
  <section>
    <h1>dddddddddddddddd</h1>
    <h1>dddddddddddddddd</h1>
    <h1>dddddddddddddddd</h1>
    <h1>dddddddddddddddd</h1>
    <h1>dddddddddddddddd</h1>
  </section>
{% endblock content %}