{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'movies/css/main.css' %}"/>
  <link rel='stylesheet' href="{% static 'movies/css/GBTI.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'movies/js/main.js' %}" defer></script>
  <script src="{% static 'movies/js/GBTI.js' %}" defer></script>
{% endblock js %}

{% block content %}
  <section>
    <div class="check-wrap">
      <div class="description">
        <p class="description__content">
          1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers1">
        <p class="agree__content">동의</p>
        <button class="number numbers1__number agree big" data-value="1"></button>
        <button class="number numbers1__number agree small" data-value="2"></button>
        <button class="number numbers1__number disagree small" data-value="3"></button>
        <button class="number numbers1__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>
      
      <div class="description">
        <p class="description__content">
          2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers2__number agree big" data-value="1"></button>
        <button class="number numbers2__number agree small" data-value="2"></button>
        <button class="number numbers2__number disagree small" data-value="3"></button>
        <button class="number numbers2__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers3__number agree big" data-value="1"></button>
        <button class="number numbers3__number agree small" data-value="2"></button>
        <button class="number numbers3__number disagree small" data-value="3"></button>
        <button class="number numbers3__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers4__number agree big" data-value="1"></button>
        <button class="number numbers4__number agree small" data-value="2"></button>
        <button class="number numbers4__number disagree small" data-value="3"></button>
        <button class="number numbers4__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers5__number agree big" data-value="1"></button>
        <button class="number numbers5__number agree small" data-value="2"></button>
        <button class="number numbers5__number disagree small" data-value="3"></button>
        <button class="number numbers5__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers6__number agree big" data-value="1"></button>
        <button class="number numbers6__number agree small" data-value="2"></button>
        <button class="number numbers6__number disagree small" data-value="3"></button>
        <button class="number numbers6__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers7__number agree big" data-value="1"></button>
        <button class="number numbers7__number agree small" data-value="2"></button>
        <button class="number numbers7__number disagree small" data-value="3"></button>
        <button class="number numbers7__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          8. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers8__number agree big" data-value="1"></button>
        <button class="number numbers8__number agree small" data-value="2"></button>
        <button class="number numbers8__number disagree small" data-value="3"></button>
        <button class="number numbers8__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          9. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers9__number agree big" data-value="1"></button>
        <button class="number numbers9__number agree small" data-value="2"></button>
        <button class="number numbers9__number disagree small" data-value="3"></button>
        <button class="number numbers9__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          10. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers10__number agree big" data-value="1"></button>
        <button class="number numbers10__number agree small" data-value="2"></button>
        <button class="number numbers10__number disagree small" data-value="3"></button>
        <button class="number numbers10__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          11. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers11__number agree big" data-value="1"></button>
        <button class="number numbers11__number agree small" data-value="2"></button>
        <button class="number numbers11__number disagree small" data-value="3"></button>
        <button class="number numbers11__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          12. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers12__number agree big" data-value="1"></button>
        <button class="number numbers12__number agree small" data-value="2"></button>
        <button class="number numbers12__number disagree small" data-value="3"></button>
        <button class="number numbers12__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          13. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers13__number agree big" data-value="1"></button>
        <button class="number numbers13__number agree small" data-value="2"></button>
        <button class="number numbers13__number disagree small" data-value="3"></button>
        <button class="number numbers13__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          14. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers14__number agree big" data-value="1"></button>
        <button class="number numbers14__number agree small" data-value="2"></button>
        <button class="number numbers14__number disagree small" data-value="3"></button>
        <button class="number numbers14__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          15. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers15__number agree big" data-value="1"></button>
        <button class="number numbers15__number agree small" data-value="2"></button>
        <button class="number numbers15__number disagree small" data-value="3"></button>
        <button class="number numbers15__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>

      <hr>

      <div class="description">
        <p class="description__content">
          16. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque, officiis aliquam eius amet ratione non mollitia nam molestiae quod ab rerum ducimus hic laborum reprehenderit. Voluptatem natus neque ut.
        </p>
      </div>
      <div class="numbers">
        <p class="agree__content">동의</p>
        <button class="number numbers16__number agree big" data-value="1"></button>
        <button class="number numbers16__number agree small" data-value="2"></button>
        <button class="number numbers16__number disagree small" data-value="3"></button>
        <button class="number numbers16__number disagree big" data-value="4"></button>
        <p class="disagree__content">비동의</p>
      </div>
      
      <form action="{% url 'movies:GBTI_create' person.pk %}" method="POST">
        {% csrf_token %}
        {{ GBTI_form }}
        <div class="btn-wrap">
          <button class="submit" type="submit">
              S U B M I T
          </button>
        </div>
      </form>
      


    </div>
  </section>

{% endblock content %}