<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'movies/css/intro.css' %}"/>
  <script src="{% static 'movies/js/intro.js' %}" defer></script>
  <title>지브리의 숲</title>
  <style>
    body {
      cursor: pointer;
    }

    section {
      background-image: url({% static 'movies/imgs/포뇨_selfmade.gif' %});
    }
  </style>
</head>
<body>
  
  <section>
    <div class="bg"></div>
    <div class="container">
      <h3>지브리의 숲</h3>
      <p class="intro__comment">지브리의 숲은 지브리 영화 커뮤니티 웹사이트입니다. 지브리의 숲과 함께 지브리 영화의 매력에 빠져보세요.</p>
      <p class="next">화면을 클릭하거나 아무 키를 눌러주세요.</p>

    </div>
  </section>

  <div class="cursor"></div>
  
</body>
</html>

