{% extends 'accounts_base.html' %}
{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'accounts/css/change_password.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'accounts/js/change_password.js' %}" defer></script>
{% endblock js %}

{% block background %}
  <style>
    body {
      background: url({% static 'accounts/imgs/background후보11.jpg' %}) center/cover no-repeat;
    }
  </style>
{% endblock  %}

{% block content %}
  <section class="change_password">
    <a href="{% url 'movies:main' %}">
      <img class="move-to-main" src="{% static 'movies/imgs/logo.png' %}" alt="">
    </a>
    <h1 class='change-password__title'>비밀번호 수정</h1>
    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      <div class="item old_password">
        <div class="item__label old_password__label">
          <div class="label-wrap">
            <i class="fas fa-unlock"></i>
            <span class="old_password__text">기존 비밀번호</span>
          </div>
        </div>
        <div class="form__box">
          {{ form.old_password }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
      </div>

      <div class="item new_password1">
        <div class="item__label new_password1__label">
          <div class="label-wrap">
            <i class="fas fa-unlock"></i>
            <span class="new_password1__text">새 비밀번호</span>
          </div>
        </div>
        <div class="form__box">
          {{ form.new_password1 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info password__info">
          <img class="exclamation__img" src="{% static 'accounts/imgs/exclamation.png' %}" alt="exclamation">
          <ul class="exclamation__comments comments__visible">
            <li class="exclamation__coment">다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
            <li class="exclamation__coment">비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li class="exclamation__coment">통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li class="exclamation__coment">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
          </ul>
        </p>
      </div>

      <div class="item new_password2">
        <div class="item__label new_password2__label">
          <div class="label-wrap">
            <i class="fas fa-unlock-alt"></i>
            <span class="new_password2__text">새 비밀번호 확인</span>
          </div>
        </div>
        <div class="form__box">
          {{ form.new_password2 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info password__same">
          {% comment %} 비밀번호가 일치하지 않습니다. {% endcomment %}
        </p>
      </div>


      <button type="submit" class="submit__button btn">
        비밀 번호 변경
      </button>
    </form>
    
  </section>



{% endblock content %}