{% extends 'accounts_base.html' %}
{% load static %}

{% block content %}
  <section class="signup">
    <h1>회원 가입</h1>
    <form action="{% url 'accounts:signup' %}" method= 'POST' enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="item nickname">
        <div class="item__label">
          <i class="fas fa-user-edit"></i>
          <span class="nickname__text">닉네임</span>
        </div>
        <div class="form__box">
          {{ form.nickName }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info">
          사이트 이용시 사용될 닉네임을 입력해주세요.
        </p>
      </div>
      <div class="item username">
        <div class="item__lebel">
          <i class="fas fa-user"></i>
          <span class="username__text">아이디</span>
        </div>
        <div class="form__box">
          {{ form.username }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info">
          로그인 시 사용할 아이디를 입력해주세요.
        </p>
      </div>
      <div class="item password1">
        <div class="password__exclamation">
          <div class="item__label">
            <i class="fas fa-unlock"></i>
            <span class="password1__text">비밀번호</span>
            <img class="exclamation__img" src="{% static 'accounts/imgs/exclamation.png' %}" alt="exclamation">
            <ul class="exclamation__comments comments__visible">
              <li class="exclamation__coment">다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
              <li class="exclamation__coment">비밀번호는 최소 8자 이상이어야 합니다.</li>
              <li class="exclamation__coment">통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
              <li class="exclamation__coment">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            </ul>
          </div>
        </div>
        <div class="form__box">
          {{ form.password1 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
      </div>
      <div class="item password2">
        <div class="item__label">
          <i class="fas fa-unlock-alt"></i>
          <span class="password2__text">비밀번호 확인</span>
        </div>
        <div class="form__box">
          {{ form.password2 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
      </div>
      <div class="item profile-img">
        <div class="item__label">
          <i class="fas fa-unlock-alt"></i>
          <span class="password2__text">프로필 이미지</span>
        </div>
        <div class="form__box">
          <img class="default-profile-img" src="{% static 'accounts/imgs/default_profile_img.jpg' %}" alt="default-profile-img" onchange="setThumbnail(event)">
          <div>
            {{ form.profileImg }}
          </div>
        </div>
      </div>

      <button type="submit" class="submit__button">
        가입하기
      </button>
    </form>

  </section>
{% endblock content %}


{% block script %}
  <script>
    function setThumbnail(event) {
      const reader = new FileReader();

      reader.onload = function(event) {
        const img = document.querySelector('.default-profile-img');
        img.setAttribute('src', event.target.result)
      }
      reader.readAsDataURL(event.target.files[0]);
    }

    const inputImage = document.querySelector('#id_profileImg');
    inputImage.addEventListener('change', (event) => {
      setThumbnail(event)
    })

    {% comment %} function readImage(input) {
      if (input.files && input.files[0]) {
        const reader = new FileReader()

        reader.onload = (event) => {
          const previewImage = document.querySelector('.default-profile-img');
          console.log(event, 333)
          previewImage.src = event.target
        }
        reader.readAsDataURL(input.files[0])
      }
    }

    const inputImage = document.querySelector('#id_profileImg');
    inputImage.addEventListener('change', (event) => {
      console.log(event)
      readImage(event.target)
    }) {% endcomment %}

  </script>

{% endblock script %}