{% extends 'accounts_base.html' %}
{% load static %}

{% block css %}
  <link rel='stylesheet' href="{% static 'accounts/css/signup.css' %}"/>
{% endblock css %}

{% block js %}
  <script src="{% static 'accounts/js/signup.js' %}" defer></script>
{% endblock js %}

{% block background %}
  <style>
    body {
      background: url({% static 'accounts/imgs/signup_background.jfif' %}) center/cover no-repeat;
    }

  </style>
{% endblock background %}

{% block content %}
  <section class="signup">
    <a href="{% url 'movies:main' %}">
      <img class="move-to-main" src="{% static 'movies/imgs/logo.png' %}" alt="">
    </a>
    <h1 class='signup__title'>회원 가입</h1>
    <form action="{% url 'accounts:signup' %}" method= 'POST' enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="item nickname">
        <div class="item__label nickname__label">
          <div class="label-wrap">
            <i class="fas fa-user-edit"></i>
            <span class="nickname__text">닉네임</span>
          </div>
        </div>
        <div class="form__box">
          {{ form.nickName }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info">
          사이트 이용시 사용될 닉네임을 입력해주세요.
        </p>
        {% if form.nickName.errors %}
          <div>
            {% for error in form.nickName.errors %}
              <p class="nickname__error">{{ error }}</p>
            {% endfor %}
          </div>
        {% else %}
          <div>
            <p class="nickname__error"></p>
          </div>
        {% endif %}
      </div>
      <div class="item username">
        <div class="item__label username__label">
          <div class="label-wrap">
            <i class="fas fa-user"></i>
            <span class="username__text">아이디</span>
          </div>
        </div>
        <div class="form__box more">
          {{ form.username }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info">
          로그인 시 사용할 아이디를 입력해주세요.
        </p>
        {% if form.username.errors %}
          <div>
            {% for error in form.username.errors %}
              <p class="username__error">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="item password1">
        <div class="password__exclamation">
          <div class="item__label password__label">
            <div class="label-wrap">
              <i class="fas fa-unlock"></i>
              <span class="password1__text">비밀번호</span>
            </div>
          </div>
        </div>
        <div class="form__box more">
          {{ form.password1 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info password__info">
          <img class="exclamation__img" src="{% static 'accounts/imgs/exclamation.png' %}" alt="exclamation">
          <ul class="exclamation__comments comments__visible">
            <li class="exclamation__coment">다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
            <li class="exclamation__coment">비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li class="exclamation__coment">통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li class="exclamation__coment">숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
          </ul>
        </p>
        {% if form.password1.errors %}
          <div>
            {% for error in form.password1.errors %}
              <p class="password1__error">{{ error }}</p>
            {% endfor %}
          </div>
        {% else %}
          <div>
            <p class="password1__error"></p>
          </div>
        {% endif %}
      </div>
      <div class="item password2">
        <div class="item__label password2__label">
          <div class="label-wrap">
            <i class="fas fa-unlock-alt"></i>
            <span class="password2__text">비밀번호 확인</span>
          </div>
        </div>
        <div class="form__box more">
          {{ form.password2 }}
          <img class="error__img error__visible" src="{% static 'accounts/imgs/icon-error.svg' %}" alt="error icon">
        </div>
        <p class="form__info password__same">
          {% comment %} 비밀번호가 일치하지 않습니다. {% endcomment %}
        </p>
        {% if form.password2.errors %}
          <div>
            {% for error in form.password2.errors %}
              <p class="password2__error">{{ error }}</p>
            {% endfor %}
          </div>
        {% else %}
          <div>
            <p class="password2__error"></p>
          </div>
        {% endif %}
      </div>
      <div class="item profile-img">
        <div class="item__label profile-img__label">
          <i class="fa-solid fa-image-portrait"></i>
          <span class="password2__text">프로필 이미지</span>
        </div>
        <div class="form__box img__form">
          <img class="default-profile-img" src="{% static 'accounts/imgs/default_profile_img.jpg' %}" alt="default-profile-img" onchange="setThumbnail(event)">
          <div class="img__form-wrap">
            <label class="input-file-button" for="id_profileImg">
              파일선택
            </label>
            {{ form.profileImg }}
          </div>
        </div>
      </div>




      <button type="submit" class="submit__button btn btn-primary">
        가입하기
      </button>
    </form>



  </section>
{% endblock content %}


{% block script %}
  <script>
    function setThumbnail(event) {
      const reader = new FileReader();

      reader.onload = function(event) {
        const img = document.querySelector('.default-profile-img');
        img.setAttribute('src', event.target.result)
      }
      reader.readAsDataURL(event.target.files[0]);
    }

    const inputImage = document.querySelector('#id_profileImg');
    inputImage.addEventListener('change', (event) => {
      setThumbnail(event)
    })
  </script>

{% endblock script %}