p {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 450px;
}

.background-img {
  /* width: 100%; */
}

.movie-wrap {
  display: flex;
  align-items: center;
}

.movie-info {
  /* transform: translateY(20px); */
}

.movie-poster {
  margin-right: 70px;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.movie-poster__img {
  width: 350px;
  height: 500px;
  border-radius: 8px;
}

.info__title {
  font-weight: bold;
  margin-bottom: 32px;
}

.movie-info > p {
  margin-bottom: 8px;
}

.movie-overview {
  max-width: 1000px;
}

.emphasis {
  background-color: #7ecaff;
  padding: 4px;
  line-height: 50%;
  display: inline-block;
  margin-top: 120px;
}

.movie-video {
  margin: auto;
  width: 800px;
  height: 450px;
}

.video__trailer {
  margin-bottom: 30px;
}

.review {
  margin-bottom: 20px;
}

.comment-wrap {
  max-width: 1000px;
}

.form-comment {
  transform: translate(0px -10px);
  position: relative;
  /* text-align: left; */
}

#id_movie_rate {
  width: 20%;
}

#id_content {
  width: 1000px;
  padding: 40px 10px 10px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 30px 0px rgb(212 212 212);
  overflow: auto;
  font-size: 18px;
}

.nickname-wrap {
  transform: translate(10px, 36px);
}

.comment__input {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
}

.comment-nickname-wrap {
  padding-bottom: 10px;
}

.user-comments__wrap {
  margin-top: 30px;
}

.user-comments {
  margin-bottom: 20px;
  /* background-color: yellow; */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 30px 0px rgb(212 212 212);
}

.comment__content {
  max-width: 1000px;
  margin-bottom: 10px;
  word-wrap: break-word;
  cursor: pointer;
}

.hidden {
  max-width: 1000px;
  margin-bottom: 10px;
  word-wrap: break-word;
  display: none;
  cursor: pointer;
}

.like_delete_edit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
}

.delete_edit-wrap {
  display: flex;
}

.like_btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.fa-heart {
  font-size: 20px;
  color: #dc3545;
}

.delete-btn {
  border: none;
  outline: none;
  background-color: transparent;
  transform: translateY(2px);
}

.fa-trash-can {
  font-size: 20px;
}

.edit-btn {
  color: #000000;
  font-size: 20px;
}

.edit-btn:hover {
  color: #000000;
}

.btn-wrap {
  padding: 5px 8px;
}

.all-wrap {
  margin-top: 30px;
}

.review-input-wrap {
  margin-top: 10px;
}

.content__count {
  position: absolute;
  bottom: 50px;
  right: 20px;
}