* {
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
} */

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: 'GmarketSansMedium';
  /* background-color: rgb(130 193 237); */
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #77aaff;
}

.logout-form > input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0px 12px;
}

.logout-form > input:hover {
  color: #77aaff;
}


@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* navbar */
#navbar {
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  background-color: #000000;
  margin: 0;
}

.blurred {
  opacity: 0.8;
}

.logo-wrap {
  /* text-align: center; */
}

.navbar__menu {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes shakeIt{
  0%, 50%{
    transform: rotate(0deg) translateY(5px);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(4deg) translateY(5px);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-4deg) translateY(5px);
  }
}

.logo {
  width: 40px;
  height: 40px;
}

.logo__img {
  width: 40px;
  height: 40px;
  transform: translateY(5px);
}

.logo__img:hover {
  animation-name: shakeIt;
  animation-duration: 3000ms;
}

.menu__item {
  padding: 0 16px;
  opacity: 1;
  transition: all 600ms ease-in;
}

.menu__item:hover {
  transition: all 300ms ease-in;
}

.menu-invisible {
  opacity: 0;
  pointer-events: none;
}

.fa-magnifying-glass {
  color: white;
  cursor: pointer;
  padding-left: 4px;
  margin-bottom: 6px;
  transition: all 1000ms ease;
  z-index: 3;
  
}

.fa-magnifying-glass:hover {
  color: #77aaff;
}

.fa-xmark {
  z-index: 10;
  transform: translateX(190px);
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.fa-xmark:hover {
  color: #77aaff;
  transition: all 300ms ease-in;
}

.search__input {
  padding-right: 8px;
  border: none;
  outline: none;
  width: 322px;
  background-color: transparent;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.75);
}

.menu__hidden {
  position: absolute;
  pointer-events: none;
  transition: all 1500ms ease;
  opacity: 0;
}

.a__logo {
  padding-right: 6px;
  opacity: 1;
}

.profile__container {
  position: relative;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.profile__container:hover {
  color: #77aaff;
}

.default-profile-img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 50%;
}

.user__info {
  position: relative;
  padding: 0;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.profile-info-wrap {
  width: 120px;
  position: absolute;
  top: 44px;
  left: 27px;
  display: flex;
  flex-direction: column;
  background-color: #3b3a3a;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  transition: all 300ms ease;
}

.img__container {
  width: 30px; 
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.info__item {
  padding: 0 12px;
}

.recommend-search-wrap {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 50px;
  width: 322px;
  background-color: #ffffff;
  border-radius: 4px;
  display: none;
}

.recommend-search {
  margin-bottom: 0px;
  cursor: pointer;
  transition: all 300ms ease;
}

.recommend-search:hover {
  color: #77aaff;;
}

/* main page */
.main {
  width: 100%;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.main__wrap {
  font-family: 'LINESeedKR-Bd';
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,.3);
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  pointer-events: none;
}

.main__title {
  position: absolute;
  color: #ffffff;
  font-size: 120px;
  transform: translateY(-150px);
  transition: all 300ms ease;
}

.main__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}


/* arrow-up button */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  /* background-color: #ffffff; */
  color: #ffffff;
  /* color: #000000; */
  border: 0px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms linear;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

.fa-arrow-up {
  padding-top: 8px;
}

/* footer */
footer {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #000000;
  color: #ffffff;
}

.footer__comment {
  margin: 0px;
  font-size: 12px;
}

.cc {
  display: none;
}

.bars-wrap {
  display: none;
  transform: translateY(12px);
}

.fa-bars {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

/* .open {
  display: none;
} */

.menu-films {
  transition: all 100ms ease;
}

.menu-directors {
  transition: all 100ms ease;
}

.menu-gbti {
  transition: all 100ms ease;
}

.menu-quiz {
  transition: all 100ms ease;
}

@media screen and (max-width: 840px) {
  .navbar__menu {
    position: absolute;
    display: none;
    background-color: #000000;
    width: 100%;
    transform: translateY(50px);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .open {
    display: flex;
    flex-direction: column;
    
  }

  .bars-wrap {
    display: block;
  }

  .logo-wrap {
    text-align: center;
  }

  .fa-bars {
    display: block;
  }

  .fa-magnifying-glass {
    order: 1;
    transition: all 1500ms ease;
  }
  
  .menu-films {
    order: 2;
    transition: all 50ms ease;
  }
  
  .menu-directors {
    order: 3;
    transition: all 50ms ease;
  }
  
  .menu-gbti {
    order: 4;
    transition: all 50ms ease;
  }
  
  .menu-quiz {
    order: 5;
    transition: all 50ms ease;
  }
  
  .main__title {
    font-size: 70px;
    transition: all 300ms ease;
  }

  .user-nickname-wrap {
    display: none;
  }
}