* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: 'GmarketSansMedium';
  background-color: rgb(130 193 237);
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #77aaff;
}

.logout-form > input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0px 12px;
}

.logout-form > input:hover {
  color: #77aaff;
}


@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* navbar */
#navbar {
  position: fixed;
  z-index: 2;
  height: 50px;
  width: 100%;
  background-color: #000000;
  margin: 0;
}

.blurred {
  opacity: 0.8;
}

.navbar__menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 30px;
  height: 30px;
}

.menu__item {
  padding: 0 16px;
}

.a__logo {
  padding-right: 6px;
}

.profile__container {
  display: flex;
  align-items: center;
}

.default-profile-img {
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 50%;
}

.user__info {
  padding: 0;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.img__container {
  /* background-color: #ffffff; */
  width: 30px; 
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.info__item {
  padding: 0 12px;
}

.fa-magnifying-glass {
  color: white;
  cursor: pointer;
  padding-left: 4px;
  margin-bottom: 8px;
}

.fa-magnifying-glass:hover {
  color: #77aaff;
}


/* main page */
.main {
  padding-top: 120px;
}

.movie {
  margin: auto;
  margin-bottom: 70px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 24px 0px 24px 20px;
  box-shadow: 10px 10px 30px 0px rgb(158 158 158);
  background-color: #ffffff;
}

.movie__poster {
  width: 300px;
  height: 447px;
}

.wise-saying-container {
  padding-left: 30px;
  position: relative;
}

.wise-saying-bubble {
  width: 600px;
  height: 250px;
}

.wise-saying {
  position: absolute;
  top: 100px;
  left: 140px;
  max-width: 390px;
  font-size: 16px;
}


/* arrow-up button */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  /* background-color: black; */
  color: white;
  border: 0px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) linear;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

.fa-arrow-up {
  padding-top: 8px;
}
