<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  {# favicon 설정 #}
  <link rel="shortcut icon" href="{% static 'movies/imgs/logo.png' %}"/>
  {# fontawesome 추가 #}
  <script src="https://kit.fontawesome.com/21a0726bae.js" crossorigin="anonymous"></script>
  {# CSS 파일 추가 #}
  <link rel='stylesheet' href="{% static 'movies/css/main.css' %}"/>
  {# JS 파일 추가 #}
  <script src="{% static 'movies/js/main.js' %}" defer></script>
  <title>지브리의 숲</title>
</head>
<body>

  <nav id="navbar" class="row">
    <div class="col-4"></div>
    <div class="navbar__menu col-4">
      <a class="menu__item a__logo" href="">
        <img class="logo" src="{% static 'movies/imgs/logo.png' %}" alt="logo">
      </a>
      <a class="menu__item" href="">DIRECTORS</a>
      <a class="menu__item" href="">GBTI</a>
      <a class="menu__item" href="">QUIZ</a>
      <a class="menu__item" href="">POLL</a>
    </div>
    <div class="user__info col-4">
      {% if request.user.is_authenticated %}
        <h3>환영합니다, {{ user }}</h3>
        <a href="{% url 'accounts:update' %}">회원정보 수정</a>
        
        <form action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="Logout">
        </form>
        
        <form action="{% url 'accounts:delete' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="탈퇴">
        </form>
      {% else %}
        <a class="info__item" href="{% url 'accounts:login' %}">Login</a>
        <a class="info__item" href="{% url 'accounts:signup' %}" method="POST">SignUp</a>
      {% endif %}
    </div>
  </nav>

  {% block content %}
  {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>