* {
  box-sizing: border-box;
}

.exclamation__img {
  /* position: absolute; */
  width: 18px;
  height: 18px;
  /* left: 95px; */
  /* top: 2px; */
  /* transition: all 300ms ease; */
}

.default-profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}