* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  /* 수정필요할지 확인해야 함 */
  height: 1200px;
}

body {
  font-family: 'GmarketSansMedium';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  width: 250px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.signup {
  width: 380px;
  padding: 10px 0px;
  padding-bottom: 20px;
  text-align: center;
  border: 2px solid rgb(146 96 58);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
}

.move-to-main {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.signup__title {
  margin-top: 10px;
}

.item {
  position: relative;
}

.item__label {
  pointer-events: none;
  position: relative;
  transition: all 400ms ease;
}

.label-wrap {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 70px;
}

.form__box {
  position: relative;
  margin-top: 45px;
}

.more {
  margin-top: 80px;
}

.img__form {
  margin-top: 0px;
}

.profile-img__label {
  margin-top: 60px;
  margin-bottom: 10px;
}

.password__same {
  color: #dc3545;
}

.exclamation__comments {
  width: 285px;
  z-index: 5;
  position: absolute;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  list-style: none;
  text-align: left;
  left: 100px;
  top: 42px;
  box-shadow: 10px 10px 30px 0px rgb(158 158 158);
  background-color: #ffffff;
}

.comments__visible {
  display: none;
}

.exclamation__img {
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
  cursor: pointer;
}

.default-profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.form__info {
  margin-top: 3px;
  font-size: 12px;
  position: absolute;
  left: 70px;
  bottom: -38px;
}

.password__info {
  bottom: -42px;
}

.error__img {
  position: absolute;
  top: 7px;
  right: 70px;  
}

.error__visible {
  display: none;
}

#id_profileImg {
  display: none;
}

.input-file-button {  
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 4px;
  line-height: 100%;
  padding: 6px;
}

.img__form-wrap {
  margin-top: 10px;
}

.submit__button {
  width: 250px;
  outline: none;
  border: none;
  margin-top: 24px;
  background-color: rgb(146 96 58);
}

.submit__button:hover {
  background-color: rgb(146 96 58);
}

.btn-check:checked+.btn, .btn:active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: rgb(146 96 58);
  
}