* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: 'GmarketSansMedium';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  width: 250px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.update {
  width: 380px;
  padding: 10px 0px;
  text-align: center;
  border: 2px solid #f0b460;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 5px 3000px rgba(0,0,0,0.7);
}

.update__title {
  margin-top: 10px;
}

.item {
  position: relative;
}

.item__label {
  pointer-events: none;
  position: relative;
  transition: all 400ms ease;
}

.label-wrap {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 70px;
}

.form__box {
  position: relative;
  margin-top: 45px;
}

.img__form {
  margin-top: 0px;
}

.profile-img__label {
  margin-top: 40px;
  margin-bottom: 10px;
}

.default-profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.form__info {
  margin-top: 3px;
  font-size: 12px;
  position: absolute;
  left: 70px;
  bottom: -38px;
}

.error__img {
  position: absolute;
  top: 7px;
  right: 70px;  
}

.error__visible {
  display: none;
}

#id_profileImg {
  display: none;
}

.img__form-wrap {
  margin-top: 10px;
}

.input-file-button {  
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 4px;
  line-height: 100%;
  padding: 6px;
}

.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit__button {
  margin-top: 24px;
}

.submit__button {
  width: 250px;
  outline: none;
  border: none;
  margin-top: 24px;
  background-color: #f0b460;
}

.submit__button:hover {
  background-color: #f0b460;
}

.btn-check:checked+.btn, .btn:active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #f0b460;
  
}

.wrap__container {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  font-size: 13px;
  margin-right: 15px;
}

.move_to_change_password, .withdrawal-btn {
  text-decoration: none;
  color: black;
}

.withdrawal-btn:hover {
  color: #f95656;
}

.contour {
  cursor: default;
  padding: 0px 15px;
}

.modal-title {
  color: #f95656;
}

.modal__content {
  margin: 0px;
}